@import 'normalize.less';
@import 'variable.less';
@import 'button.less';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#app {
  background-color: #f6f6f6;
  height: 100%;
  padding-top: 5rem;

  .products {
    margin: 2rem;
    color: #383838;
    font-size: 4rem;

    > div {
      margin: 1rem;
      padding: 1rem;
      background-color: #ccc;
    }
  }

  .product {
    display: flex;
    justify-content: space-between;
  }

  .search-container {
    margin: 0 2rem;
    padding: 1rem;
  }

  .search {
    width: 100%;
    height: 6rem;
    font-size: 3rem;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,.95);
    outline: none;
    padding: 1rem;
  }

  .product-placeholder {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
  }
}