<template>
  <div class="container">
    <div v-if="!product" class="product-placeholder">Product Not Found</div>
    <div v-if="product">
      <h1 class="title">{{ product.name }}</h1>
      <img :src="imageURL" alt="">
      <br><br>
      <button class="btn-round btn-primary" type="button">{{ product.price }}</button>
    </div>
  </div>
</template>

<script>
import { request } from '../utils'

export default {
  name: 'detail',

  data () {
    return {
      id: this.$route.params.id,
      imageURL: 'https://picsum.photos/200/300/?random',
      product: ''
    }
  },

  methods: {
    findProductById (array, id) {
      return array.filter(post => {
        let match = post.id.includes(id)
        return match
      })[0]
    }
  },

  created () {
    if (this.$store.state.products.length) {
      this.product = this.findProductById(this.$store.state.products, this.id)
    } else {
      request(this.$store.state.API_URL + `products`)
        .then(res => {
          if (res.success) {
            this.product = this.findProductById(res.data, this.id)
          }
        })
    }
  }
}
</script>

<style>
  .container {
    text-align: center;
  }
  .title {
    font-size: 3em;
  }
  img {
    width: 200px;
    height: 300px;
  }
</style>
