<template>
  <div>
    <search></search>
    <product v-for="product in filteredProducts"
             :key="product.id"
             :product="product"
             :data-status="product.status"></product>
    <div v-if="!filteredProducts.length" class="product-placeholder">Product Not Found</div>
  </div>
</template>

<script>
import Product from '../components/Product'
import Search from '../components/Search'
import { request } from '../utils'

export default {
  name: 'list',

  components: {
    Product,
    Search
  },

  created () {
    request(this.$store.state.API_URL + `products`)
      .then(res => {
        if (res.success) {
          this.$store.dispatch('setProducts', res.data)
        }
      })
  },

  computed: {
    filteredProducts () {
      return this.$store.state.products.filter(post => {
        let match = post.name.toLowerCase()
          .includes(this.searchText.toLowerCase())
        return match
      })
    },
    searchText () {
      return this.$store.state.keyword
    }
  }
}
</script>

<style>
  
</style>
