<template>
  <p v-html="productName">
  </p>
</template>

<script>
export default {
  name: 'highlightText',

  props: {
    productName: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  span {
    display:inline-block;
  }

  span.highlight {
    color: #108EE9;
  }
</style>
