<template>
  <div class="products" @click="goDetail(product.id)">
    <div class="product">
      <div>
        <highlightText :productName="hightlightText(product.name, keyword)"></highlightText>
      </div>
      <div>{{ product.price }}</div>
    </div>
  </div>
</template>

<script>
import HighlightText from './HighlightText'

export default {
  name: 'product',
  components: {
    HighlightText
  },

  props: {
    product: Object
  },

  methods: {
    goDetail (id) {
      this.$router.push({name: 'Detail', params: { id: id }})
    },
    hightlightText (words, query) {
      // ignore case sensitive and trim string
      var iQuery = new RegExp(query.trim(), 'ig')

      if (this.keyword) {
        // replace match keyword and productname with highlight
        return words.toString().replace(iQuery, function (matchedTxt, a, b) {
          return ('<span class=\'highlight\'>' + matchedTxt + '</span>')
        })
      } else {
        return words
      }
    }
  },

  computed: {
    keyword () {
      return this.$store.state.keyword
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
