<template>
  <div class="search-container">
    <input class="search" type="text" v-model="keyword" @keyup="eventSearch"/>
  </div>
</template>

<script>
export default {
  name: 'search',
  data () {
    return {
      keyword: this.$store.state.keyword !== '' ? this.$store.state.keyword : ''
    }
  },

  methods: {
    eventSearch () {
      this.$store.dispatch('setKeyword', this.keyword)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  
</style>
